body {
  background-color: #E6E6FA; /* Lila clarito */
  color: #4B0082; /* Morado oscuro para el texto */
}

header, footer {
  background-color: #D8BFD8; /* Lila pastel */
  color: #4B0082; /* Texto en morado oscuro para contraste */
  padding: 15px;
  text-align: center;
}

nav ul li a {
  color: #8A2BE2; /* Un morado vibrante */
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #9370DB; /* Lila más suave al pasar el mouse */
}

section {
  background-color: #F3E5F5; /* Un lila muy clarito */
  padding: 20px;
  border-radius: 10px;
  margin: 15px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* Un efecto de sombra suave */
}

button {
  background-color: #BA55D3; /* Un tono lila intermedio */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #9932CC; /* Un tono más oscuro al pasar el mouse */
}

